body{
	background: linear-gradient(#BDF2D5,#BDF2D5,#BDF2D5);
}
.login-box{
  width: 300px;
  height: 350px;
  background: #1cc8fc;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 8px 5px rgb(135, 142, 153);
}

form input,.submit{
  padding: 10px;
  margin: 10px;
}

form input{
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
form select{
	width: 200px;
	height: 30px;
	padding: 10px;
	margin: 10px;
	 background: rgba(255, 255, 255, 0);
}
form .submit{
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  background: #ff00a2;
  color: #000;
}

form .submit:hover{
  color: #000;
}

.footer{
  margin: 100px 0;
}
.footer h5{
    font-size: 1.1rem;
    font-weight: 500;
  }

  .footer li a{
    text-decoration: none;
    transition: 0.5s;
  }
  .footer li a:hover{
    color: #fc1cd0;
    letter-spacing: 1.5px;
  }